/* Fondo general negro */
body {
    background-image: url('ImagenInicio.jpg'); 
    background-repeat: no-repeat;
    background-size: 40% auto; /* Establecer el tamaño de la imagen (60% del ancho y proporcionalmente la altura) */
    background-position: center center; /* Centrar la imagen en la pantalla */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.form-container {
    background-color: #000000; /* Fondo negro para toda la pantalla */
    background-position: center center; /* Centra la imagen si es necesario */
    width: 400px; /* Tamaño del recuadro central */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del formulario */
form {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Asegura que ocupe todo el contenedor */
    text-align: center;
}

/* Estilos de los campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Estilo del botón */
button {
    background-color: #1E3A8A; /* Azul */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000; /* Negro cuando se hace hover */
    color: #1E3A8A; /* Azul cuando se hace hover */
}


